* {
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-weight: normal;
}

/* border-box sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    font-weight: bold;
}

h3 {
    font-size: 140%;
}

body {
    display: grid;
    grid-template-columns: minmax(200px, 500px) 1fr; /* Two columns, each 50% */
    grid-template-rows: auto minmax(0, 1fr);
    grid-template-areas: "header header"
                         "toc main";
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0px;
}


header {
    grid-area: header;
    grid-column: 1/-1;
    padding: 10px;
    padding-left: 40px;
    border-bottom: 1px solid black;
}

h1 {
    margin: 0;
}

section:not(:first-child) {
    margin-top: 80px;
}

.toc {
    grid-area: toc;
    overflow-y: scroll;
    padding-left: 10px;
    padding-right: 10px;
}

main {
    grid-area: main;
    overflow-y: scroll;
    margin-left: 40px;
}

a:target {
    color: #660000;
}

.toc {
    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        margin: 20px;
        font-size: 150%;
    }

    a {
        text-decoration: none;
        color: #555;
    }

    a:hover {
        color: #000;
    }
}