* {
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-weight: normal;
}

/* border-box sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    font-weight: bold;
}

h3 {
    font-size: 140%;
}


a:target {
    color: #660000;
}

main {
    /* Add generous padding at the bottom of the main text,
    so that the last heading can be scrolled to the top when navigating
     */

    padding-bottom: 400px;
}

.toc {
    direction: rtl;

    ul {
        direction: ltr;
        list-style-type: none;
        padding: 0;
    }

    li {
        margin: 8px;
        font-size: 16px;
    }

    a {
        text-decoration: none;
        color: #555;
    }

    a:hover {
        color: #000;
    }
}